module <%= component_constant_name %>
  module Controls
    module Version
      def self.example
        1
      end

      module NoStream
        def self.example
          MessageStore::NoStream.name
        end
      end
    end
  end
end
